<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'notes:home' %}">
        <span class="text-danger"><b>Triple</b></span>Note
      </a>
      {% if user.is_authenticated %}
          <div class="nav-item align-self-center mt-1">
            user {{ user.username }}
          </div>
        <div class="spacer flex-grow-1"></div>
      {% endif %}
      <ul class="nav nav-pills">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'notes:list' %}">List of notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'notes:add' %}">New note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:signup' %}">Sign up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>